# --- Framework principal ---
fastapi

# --- Servidor ---
uvicorn[standard]

# --- Base de datos ---
SQLAlchemy
pymysql

# --- Migraciones ---
alembic

# --- Validaciones ---
pydantic[email]
pydantic-settings

# --- Seguridad y JWT ---
python-jose
passlib[bcrypt]

# --- Utilidades ---
python-dotenv

# --- Tipos y mejoras ---
typing-extensions

# --- Para CORS ---
starlette
